body {
    display: flex;
    justify-content: center;
    background-color: #222;
    color: #c8c8c8;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Share Tech Mono', Monospace, Courier;
    letter-spacing: 0.1px;
}

.title {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #FFF;
}

#control-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.control-button {
    margin: 5px;
    font-family : inherit;
    font-size: 1em;
    border: 0;
    padding: 5px;
}

.control-button:hover {
    background: #c8c8c8;
}

.control-button:active {
    background: green;
}

#video-stream {
    justify-self: center;
    border-radius: 5px;
    border: solid 3px #1f1f1f;
    margin: 20px;
}

#debug-console {
    width: 20vw;
    border-radius: 5px;
    border: solid 3px #1f1f1f;
    margin: 20px;
    padding: 5px;
    color: green;
}